@charset "utf-8";
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, figure, menu, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, select, th, td {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a {
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a:active {
    outline: 0
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}

address, cite, dfn, em, i, var {
    font-style: normal
}

strong {
    font-weight: normal
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: .1rem
}

ul, ol {
    list-style: none
}

button, input, select, textarea, input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"] {
    font-family: inherit;
    font-size: 100%;
    border: none
}

button:focus, input:focus, select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus {
    outline: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button
}

textarea {
    overflow: hidden;
    vertical-align: top
}

input, textarea {
    -webkit-appearance: none
}

input[type=search] {
    -webkit-appearance: none;
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
    display: none
}

input:disabled, textarea:disabled {
    color: #999
}

img {
    border: none;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

html {
    font-size: 100px
}

@media screen and (min-width: 375px) {
    html {
        font-size: 100px;
        font-size: 26.66666667vw
    }
}

body {
    background-color: #f6f6f6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .14rem;
    line-height: 1;
    color: #333
}

a {
    color: #333;
    text-decoration: none
}

a:focus, a:visited, a:active {
    color: #333;
    text-decoration: none
}

a.c-green, a.c-green:focus, a.c-green:visited, a.c-green:active {
    color: #20bc22
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    clear: both
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide, .dn {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.po-fixed {
    position: fixed
}

.po-relative {
    position: relative
}

.po-absolute {
    position: absolute
}

.po-static {
    position: static
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.text-justify {
    text-align: justify !important
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text-break {
    word-break: break-all;
    word-wrap: break-word
}

@media screen and (orientation: landscape) {
    .m-header-group .header-group-innder.header-fixed {
        position: relative
    }
}



input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%
}

.c-btn-piao {
    background-color: #fd4d02
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: .05rem;
    font-weight: bold
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type="radio"], input[type="checkbox"] {
    margin: .04rem 0 0;
    line-height: normal
}

input[type="file"] {
    display: block
}

input[type="range"] {
    display: block;
    width: 100%
}

select[multiple], select[size] {
    height: auto
}

output {
    display: block;
    padding-top: 1.07rem;
    font-size: .14rem;
    line-height: 1;
    color: #ccc
}

input[type="search"] {
    -webkit-appearance: none
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}



/*header*/
.header{
    height: 0.65rem;
    line-height: 0.5rem;
    font-size: 0.2rem;
    padding: 0.17rem;
    background: url("../images/top.jpg") no-repeat;
    background-size: cover;
    color: #fff;
}
/*userinfo*/
.userinfo{
    font-size: 0.12rem;
    padding: 0.17rem;
    background: #fff;
    color: #666;
}
.userinfo span{
    color: #333;
    font-weight: bolder;
}
/*product*/
.product{
    padding: 0.17rem 0;
    background: #fff;
    border-top:1px #eee solid;
    overflow: hidden;
}
.product ul{
    width:100%;
    height: auto;
    overflow: hidden;
}
.product li{
    float: left;
    width:42.5%;
    margin-left: 5%;
    margin-bottom: 0.1rem;
    background: #f9f9f9;
    padding: 0.15rem 0;
    text-align: center;
    position: relative;
}
.product li.active{
    background: #fff;
}
.product li h3{
    font-size: 0.2rem;
    color: #333;
    margin-bottom: 0.02rem;
}
.product li span{
    font-size: 0.12rem;
    color: #999;
}
.product li span em{
    color: #ff001c;
}
.product li span.hotsale{
    position: absolute;
    right: 0;
    top:0;
    background: #ff001c;
    color: #fff;
    padding: 0.02rem;
}
/*desc*/
.desc {
    font-size: 0.12rem;
    color: #666;
    padding: 0.17rem;
    margin-bottom: 0.2rem;
    background: #fff;
    border-top:1px #eee solid;
}
.desc h3{
    font-size: 0.15rem;
    color: #333;
}
.desc p{
    padding: 0.1rem 0;
    line-height: 140%;
    color: #999;
}
/*copyright*/
.copyright{
    width:100%;
    height: auto;
    margin-bottom: 0.2rem;
}
.copyright p{
    text-align: center;
    font-size: 0.12rem;
    line-height: 140%;
    color: #999;
}
.copyright p.notice{
    padding: 0.15rem 0 0.1rem 0;
    font-weight: bolder;
    color: #333;
}
.copyright p img{
    width:0.5rem;
}
