<div class="portlet-title">
    <div class="caption">
        <span class="caption-subject bold uppercase font-dark">
            <i class="<%=i%>"></i>
            <%=title%>
        </span>
        <span class="caption-helper"><%=fuTitle%></span>
    </div>

    <div class="tools">
        <a href="" class="collapse" data-original-title="" title=""> </a>
        <a href="" class="reload" data-original-title="" title=""> </a>
        <a href="" class="remove" data-original-title="" title=""> </a>
    </div>
</div>